* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}
 
.center {
  display: flex;
  flex-direction: column;
  width:100%
  height:max-content;
  position:absolute;
  padding-inline:15%
  padding-block:5%
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  flex: 1 0 auto;
  margin: 0 auto;
}

.link {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

  .link img {
  width: 45px;
  opacity: 0.5;
  transition: all 0.5s;
  }

  .link img:hover {
  opacity: 1;
  }
  
  footer {
  width: 100%;
  max-width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  }

  .col-1 {
    display: block;
    padding-top: 5px;
  }
}

