* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

html, 
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.bottom {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  background-image: url("../images/A - Copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  flex: 1 0 auto;
  margin: 0 auto;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center .bottom .image {
  flex: 1;
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.center .bottom .image img {
  border-radius: 5px;
  height: auto;
  width: 170px;
  transition: transform 0.1s ease-in-out, opacity 0.5s;
}

.center .bottom .image img:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.link {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.link img {
  width: 45px;
  opacity: 0.5;
  transition: all 0.5s, transform 0.1s ease-in-out;
}

.link img:hover {
  opacity: 1;
}

.link img:active {
    transform: scale(0.9);
}

footer {
  width: 100%;
  max-width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.col-1 {
  display: block;
  padding-top: 5px;
}

@media (max-width: 1000px) {
  .center .bottom {
    flex-direction: column;
  }

  .center .bottom .image {
    flex: initial;
    width: 100%;
    height: auto;
    max-width: max-content;
  }

  .center .bottom .buttons {
    margin-right: 0px;
  }
}

/* ส่วนนี้สำหรับ Swup Page Transitions */
.transition-fade {
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
























