
* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}


 
.container {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  background-image: url("../images/A\ -\ Copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  flex: 1 0 auto;
  margin: 0 auto;
}



.link {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.link img {
  width: 45px;
  opacity: 0.5;
  transition: all 0.5s;
}

.link img:hover {
  opacity: 1;
}

footer {
  width: 100%;
  max-width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.col-1 {
  display: block;
  padding-top: 5px;
}



@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  img {
    width: 60px;
    margin: 30px 0;
  }

  .link img {
    width: 35px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 0;
  }
}


