* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

.next-button {
  text-indent: 3px;
  text-align: center;
  white-space: nowrap;
}

.next-button button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  position: absolute;
  padding-inline: 15%;
  padding-block: 5%;
}

.center .bottom {
  bottom: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  gap: 30px;
}

.center .bottom .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  flex: 0.5;
  gap: 20px;
  margin-right: 20%;
}

@media (max-width: 1000px) {
  .center .bottom {
 flex-direction: column;
  }

  .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  }

.link {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.link img {
  width: 45px;
  opacity: 0.5;
  transition: all 0.5s;
}

.link img:hover {
  opacity: 1;
}

footer {
  width: 100%;
  max-width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.col-1 {
  display: block;
  padding-top: 5px;
}

}





