* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

img {
  width: 250px;
  border-radius: 5px;
  margin: 40px 0;  
  top: 550px;  
  left: 650px;                  
  height: auto;
  position: fixed;   
}

.bottom {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  background-image: url("../images/A\ -\ Copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  flex: 1 0 auto;
  margin: 0 auto;
}

.center .bottom .image {
  flex: 1;
  position: relative;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.center .bottom .image img {
  border-radius: 5px;
  height: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .center .bottom {
    flex-direction: column;
  }

  .center .bottom .image {
    flex: initial;
    width: 100%;
    height: auto;
    max-width: max-content;
  }

  .center .bottom .buttons {
    margin-right: 0px;
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.link img {
  width: 45px;
  opacity: 0.5;
  transition: all 0.5s;
}

.link img:hover {
  opacity: 1;
}

footer {
  width: 100%;
  max-width: 800px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.col-1 {
  display: block;
  padding-top: 5px;
}











